<app-divider> Placeholder Component </app-divider>
<app-placeholder [header]="true" [lines]="5"></app-placeholder>
<app-divider>Segment divider</app-divider>
<app-segment>
  <header>
    <i class="pdf file outline icon"></i>
    No documents are listed for this costumer.
  </header>
  <button class="ui primary button">Add document</button>
</app-segment>
