<app-divider> Table Component </app-divider>
<app-table
  [data]="data"
  [headers]="headers"
  class="stripped celled"
></app-table>


<app-divider>Tab Menu</app-divider>
<app-tabs>
  <ng-container links>
    <a class="item" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Biography</a>
    <a class="item" routerLink="./companies" routerLinkActive="active">Companies</a>
    <a class="item" routerLink="./partners" routerLinkActive="active">Partners</a>
  </ng-container>
  <ng-container content>
    <router-outlet></router-outlet>
  </ng-container>
</app-tabs>
