<div class="ui accordion styled">
  <ng-container *ngFor="let item of items;let i = index">
    <div class="title" [ngClass]="{ active: i === openedItemIndex }" (click)="onClick(i)">
      <i class="dropdown icon"></i>
      {{ item.title }}
    </div>
    <div [ngClass]="{ active: i === openedItemIndex }" class="content active">
      {{ item.content }}
    </div>
  </ng-container>
</div>
