<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <ng-content select="[links]"></ng-content>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      <ng-content select="[content]"></ng-content>
    </div>
  </div>
</div>
